// $primary-color: #5a5ab8;
// $primary-color: #5a5ab8;
// $primary-color: #3e0c3a;
$primary-color: #008;
$secondary-color: #ddb40e;

header {
  background-image: url(../images/front-end.png);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    opacity: 0.7;
    z-index: 0;
  }
  .header-data {
    margin-top: 80px;
    text-align: center;
    h2 {
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 120px;
      margin-left: 20px;
      margin-bottom: 15px;
      span {
        color: $secondary-color;
      }
    }
    p {
      color: #fff;
      z-index: 22;
      position: relative;
    }
  }
}

@media (max-width: 576px) {
  .header-data {
    margin-top: 50px;
    h2 {
      font-size: 50px !important;
      margin-bottom: 30px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header-data {
    margin-top: 50px;
    h2 {
      font-size: 70px !important;
    }
  }
}

.navbar {
  background-color: $primary-color;
  .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    margin-right: 60px;
    color: $secondary-color;
    letter-spacing: 4px;
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 16px;
          font-weight: bold;
          margin-left: 7px;
          color: #fff;
          letter-spacing: 1px;
        }
        .active {
          color: $secondary-color;
        }
      }
    }
  }
}

.navbar .nav-item:hover .dropdown-menu {
  background-color: $primary-color;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: $primary-color;
}

@media (min-width: 992px) {
  .navbar .dropdown-menu-end {
    // right: 0;
    left: 0;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    // visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    // visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
    background-color: $primary-color;
  }

  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
    padding: 10px 10px;
  }

  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: $primary-color;
    opacity: 0.8;
  }

  .dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

.navbar-changebg-color {
  background-color: $primary-color !important;
  padding: 10px 0 !important;
  transition: all 0.5s ease-in-out;
}

.navbar-changecolor-item:not(.active) {
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  .services-item {
    padding: 50px 20px;
    box-shadow: 0 0 20px 5px #ececf7;
    margin-bottom: 20px;
    transition: all 1s ease-in-out !important;
    border-radius: 10px;
    h2 {
      color: $primary-color;
      font-weight: bold;
      transition: all 1s ease-in-out !important;
    }

    i {
      color: $primary-color;
      font-size: 25px;
      margin-bottom: 20px;
      transition: all 2s ease-in-out !important;
    }

    &:hover {
      background-image: linear-gradient(to left, $primary-color, #a846f9);
      color: #fff;
      h2 {
        color: #fff;
        transition: all 1s ease-in-out !important;
      }
      i {
        display: none;
      }
    }
  }

  .active {
    transition: all 5s ease-in-out !important;
    background-image: linear-gradient(to right, $primary-color, #a846f9);
    color: #fff;
    h2 {
      color: #fff;
      transition: all 1s ease-in-out !important;
    }
    &:hover {
      background-image: linear-gradient(to left, $primary-color, #a846f9);
      transition: all 1s ease-in-out !important;
    }
  }
  .top-20 {
    top: 20%;
  }
  .top-10 {
    top: 10%;
  }
  .all-services {
    margin-top: 100px;
    h2 {
      color: $primary-color;
      font-weight: bold;
      font-size: 42px;
    }
    p {
      color: $primary-color;
      font-size: 15px;
      margin-top: 25px;
    }
    a {
      background-color: $primary-color;
      color: #fff;
      margin-top: 30px;
      padding: 10px 30px;
      background-image: linear-gradient(to right, $primary-color, #a846f9);
      transition: all 5s linear !important;

      &:hover {
        background-image: linear-gradient(to left, $primary-color, #a846f9);
      }
    }
  }
}

@media (min-width: 0) and (max-width: 767.98px) {
  .services {
    .active {
      margin-top: 80px;
    }
  }
}

.courses {
  padding-bottom: 40px;
  .course-item {
    margin-top: 20px;
    h3 {
      font-size: 20px;
    }
    img {
      // width: 80%;
    }
    button {
      background-color: $primary-color;
      color: white;
    }
  }
}

.page-item {
  .page-link {
    color: $primary-color;
  }
}

.our-students {
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 230px;
  }
}

.acadimic-programming {
  .acadimic-programming-hedaing {
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .acadimic-programming-step {
    margin: 60px 0;
    .age {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h3 {
      font-weight: bold;
      font-size: 30px;
      color: $primary-color;
    }
    p {
      color: #918f8f;
      font-size: 20px;
      margin-bottom: 15px;
    }
    button {
      background-color: $primary-color;
      color: white;
      font-weight: bold;
    }
  }

  .acadimic-programming-step-flex {
    display: flex;
    align-items: center;
    div {
      margin: 0 5px;
    }
  }

  .acadimic-programming-step-flex-1 {
    p {
      padding: 0 3px;
    }
  }
}

footer {
  padding: 50px 0;
  background-color: $primary-color;
  color: white;
  font-weight: bold;
}

footer h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $secondary-color;
}

footer ul li {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: $secondary-color;
    transition: all 0.3s ease-in-out;
  }
}

// About Page

.about-us {
  padding: 40px 0;
}

.about-us h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary-color;
}

.about-us-info h3 {
  font-size: 40px;
  font-weight: bold;
  color: $primary-color;
}
